<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<head>

<link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />


</head>

<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container">
		<div class="row">
			<h1 class="page-header" th:text="${heading}">Dashboard</h1>
		</div>
		<div class="row">
			<div class="jumbotron">
				<div class="container">
					<h3>Instructions</h3>
					<ol>
						<li>Search for images using the left panel</li>
						<li>Click images to add them to the training set</li>
						<li>Click 'Continue'</li>
					</ol>	
					<a class="btn btn-lg btn-success pull-right" th:href="@{/app}">Continue</a>
				</div>
			</div>
		</div>
		<div class="row">

			<form id="searchTerms" class="form-inline text-center col-md-5">
				<input type="search" class="form-control" id="searchTermsInput"
					placeholder="Search images..." />
				<button type="submit" id="btn-search" class="btn btn-default">Search</button>
			</form>
		</div>
		<div class="row top20">
			<div class="grid col-md-5" id="searchGrid"></div>
			<div class="col-md-2"></div>
			<div class="grid col-md-5" id="trainingGrid"></div>
		</div>
	</div>
</body>
<script th:src="@{/js/geuron.js}"></script>
</html>