<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<head>
<link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
<script th:src="@{/js/geuron.js}"></script>
</head>

<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container">
		<div class="row">
			<h1 class="page-header" th:text="${heading}">Dashboard</h1>
			<form id="searchTerms">
				<input type="search" class="form-control" id="searchTermsInput" placeholder="Search images..."/>
			</form>
		</div>
	</div>
</body>
</html>