<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
    <div th:replace="fragments/header :: header"></div>
	<div class="jumbotron">
		<div class="container">
			<h1>Geuron</h1>
			<p>
				Geuron is a machine learning utility which uses a neural network to scrape google images. 
				It grabs images that are similar to a small user-specified training set.
			</p>
			<p>
				Geuron is written and maintained by <a href="http://faithfull.me">Will Faithfull</a>. It
				is a <a href="http://projects.spring.io/spring-boot/">Spring Boot</a> application, using
				the <a href="https://mahout.apache.org/">Apache Mahout</a> machine learning framework.
			</p>
			<a class="btn btn-lg btn-success" th:href="@{/app}">Get Started</a>
		</div>
	</div>
</body>
</html>